/* CSS for recipes */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  font-size:10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: #c5b0cc;
font-family: verdana, arial, helvetica, sans-serif;
margin:0;
font-size: 1.4rem;
}

h1,h2 {
color:rgb(13, 74, 154);
font-family: georgia, serif;
}

p {

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  display: block;
  width: 100%;
}

blockquote {
}

.caption {
  display: block;
}

table {
}

td,
th {
}

p,
ol,
ul {
  line-height: 1.5;
  margin-bottom: 1em;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

/* for a menu for all recipes */
ul.allrecipes {
  list-style: none;
}

.menu {
  display: block;
  border: 1px solid gray;
  width: 15%;
  font-size: 60%;
  padding: 10px;
  margin: 20px 0;
}


html {
  font-size:10px;
}


h2 {
color:rgb(1, 29, 55);
}

p:first-child {
  font-size: 2rem;
  color:red;
}


.blurb:first-letter {
  background-color: rgb(61, 60, 145);
  color: white;
  float: left;
  font-family: Georgia;
  font-size: 4em;
  line-height: 1;
  padding: 0 .1em;
  margin: .1em;
}

main {
width:70%;
max-width: 900px;
/* border:1px solid green; */
margin: 0 auto;
background-color: white;
padding:12px 30px;
display: flex;
flex-wrap: wrap;
flex-direction:row;
/* justify-content: flex-start; */
}
